:root {
  //************* Main Color Variables *****************//
  --white: #fff;
  --black: #000;
  --orange: #f48024;
  --blue: #0095ff;
  --gray: #535a60;

  //****************** Gradients **************************//
  // --redGradient: linear-gradient(
  //   90deg,
  //   rgba(14, 4, 2, 1) 0%,
  //   rgba(208, 25, 25, 1) 50%,
  //   rgba(201, 201, 201, 1) 100%
  // );
}
